.tabla-container{
  margin: 20px 0;
}

.tabla-header{
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  text-align: center;
  background-color: #DFE2E9;
}

.tabla-data{
  display: grid;
  text-align: center;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.tabla-header > li, .tabla-data > li{
  border: 1px solid #B0BAC9;
  color: #00072B;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-data > li{
  padding: 5px 0;
}

.tabla-data  > li > svg{
  justify-self: center;
  width: 30px;
  height: 30px;
  stroke: black;
}