* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  font-family: 'Poppins', sans-serif;
}

:root{
  --blue-dark:#18345E;
  --theme: #1c1c1e;
  --border-radius:6px;
}

body{
  background-color: var(--theme);
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}