* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  font-family: 'Poppins', sans-serif;
}

:root{
  --blue-dark:#18345E;
  --yellow-button:#F0AB20;
  --theme: #f9f7f8; 
  -font-theme:#313135;
  --border-radius:6px;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  --green:#42b72a;
  --red:#F44336;
}

body{
  background-color: var(--theme);
  color: var(--font-theme);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}
