* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  font-family: 'Poppins', sans-serif;
}

:root{
  --blue-dark:#18345E;
  /* dartk theme */
  --theme: #1c1c1e;
  /* light theme */
  --theme: #f9f7f8; 
  --theme: #c7d5f3; 
  --border-radius:6px;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

body{
  background-color: var(--theme);
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}
